html {
  box-sizing: border-box;
  background: #333;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.history,
.players,
.stats {
  margin: 1.5em 0;

  &-title {
    align-items: center;
    background: #222;
    border: 1px solid #666;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.5em;
    margin: 0 0 -1px 0;

    button {
      background: #333;
      border-radius: 10px;
      border: 0;
      color: #ccc;
      cursor: pointer;
      height: auto;
      outline: none;
      padding: 0.25em .75em;
      width: auto;

      &:focus,
      &:hover {
        box-shadow: 0 0 0 2px #666;
      }

      &:active{
        box-shadow: 0 0 0 2px #fff;
        color: #fff;
      }
    }

    &-clear,
    &-text {
      margin: 0;
      padding: 0;
    }

    &-text {}
    &-clear {}
  }
}


.players {
  margin-top: 0;

  &-controls {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em auto 0;
    max-width: 28em;
    width: 100%;

    button {
      background: #fff;
      border: 1px solid #ddd;
      display: inline-block;
      border-radius: 10px;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0.125em;
      padding: 1em;
      text-transform: uppercase;
    }
  }

  &-list {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.85em;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;

    @media (min-width: 720px) {
      flex-flow: row nowrap;
      font-size: 1.125em;
    }

    &-item {
      border: 1px solid #ddd;
      padding: 0.5em;
      flex: 1 1 auto;
      width: 100%;

      &-character,
      &-name,
      &-name input {
        border: none;
        color: #fff;
        display: block;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
      }

      input {
        color: #ddd;
        background: none;
        box-sizing: border-box;
        font-size: 0.75em;
        line-height: 1;
        margin: 0;
        padding: 0;
      }

      &-character {
        font-weight: bold;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
      }
    }
  }
}


.stats {
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid #666;
      flex: 1 1 auto;
      font-size: 0.825em;
      color: #BBB;
      font-weight: bold;
      letter-spacing: 0.0625em;
      padding: 0.25em 0.5em;
      text-transform: uppercase;
      width: 50%;
    }
  }
}

.history {
  /**
   * Todo:
   *   - CSS grid and fixes for 10+ counts.
   */
  margin: 1em 0;

  &-title {
    &-clear,
    &-text {
      margin: 0;
      padding: 0;
    }

    &-text {}
    &-clear {}
  }

  &-item {
    align-content: stretch;
    align-items: stretch;
    border: 1px solid #666;
    border-bottom: 0;
    font-size: 0.65em;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    width: 100%;

    @media (min-width: 720px) {
      font-size: 0.85em;
    }

    &:last-child {
      border-bottom: 1px solid #666;
    }

    > * + * {
      border-left: 1px solid #666;
    }

    &.is-current {
      font-style: italic;
      opacity: 0.5;
      padding-top: 19px;

      &::before {
        background: #222;
        color: #888;
        content: 'Current';
        left: 0;
        line-height: 18px;
        border-bottom: 1px solid #444;
        position: absolute;
        right: 0;
        text-indent: 3em;
        top: 0;
        font-size: 0.8em;
        letter-spacing: 0.125em;
        width: auto;
        text-transform: uppercase;
      }
    }
  }

  &-number {
    align-items: center;
    background: #222;
    display: flex;
    flex: 0 1 auto;
    padding: 0 0.5em;
    text-align: center;

    &-text {}
  }

  &-player {
    flex: 0 1 auto;
    margin: 0;
    padding: 0.5em 0.25em;
    min-width: 30%;
    width: 100%;

    &-character,
    &-name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    &-character {
      font-weight: bold;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
    }

    &-name {
      color: #ccc;
      font-size: 0.85em;
    }
  }
}
