html, body {
  background: #333;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  /*
  background: #eee;
  border: none;
  border-radius: 2em;
  box-shadow:
    0 0 0 2px green,
    0 0 0 4px blue;
  color: #332;
  outline: none;
  padding: 0.5em 1em;

  &:focus {
    outline: 3px solid red;
  }
  */
}


.players-list {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  text-align: center;
  width: 100%;

  &-item {
    border: 1px solid #ddd;
    padding: 0.5em;
    flex: 1 1 auto;
    width: 100%;

    &-character,
    &-name,
    &-name input {
      border: none;
      color: #fff;
      display: block;
      font-size: 1.5em;
      text-align: center;
      width: 100%;
    }

    input {
      background: none;
      box-sizing: border-box;
      font-size: 0.75em;
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    &-character {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}


.history {
  &-item {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    width: 100%;
  }

  &-player {
    border: 1px solid #ddd;
    flex: 0 1 auto;
    margin: 0;
    padding: 0.25em;
    width: 100%;

    &-character,
    &-name {
      display: block;
    }

    &-character {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
